<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css	">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="container py-5">
      <div class="row top-buffer">
        <div class="col-sm-6">
          <div id="instruction-text" class="text-center">
            <h4>User Profile: <br>{{ user_profile_text }} <br>Instruction: <br>{{ instruction_text }}</h4>
          </div>
        </div>
      </div>
      <div class="row top-buffer">
        <form method="post" action="{{url_for('index', session_id=session_id, task_id=task_id)}}">
          <button type="submit" class="btn btn-success">Back to Search</button>
        </form>
      </div>
      <div class="row top-buffer">
        <div class="col-md-12">
          <div class="row top-buffer">
            <div class="col-sm-6" name="history">
              <div class="card card-body">
                <h5> The following instruction history is listed in reverse chronological order: </h5>
                <ul>
                  {% for ins in instruction_history_list %}
                  <li><p class="attribute"> {{ins}}</p></li>
                  {% endfor %}
                </ul>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>